:root{
    --background: #131119;
    --primary: #8872E7;
    --secondary: #B9971E;
    --contrast: #1F1C29;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    margin: 0;
    background-color: var(--background);
    color:white;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.header img {
    width: 15em;
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-title{
    margin: 3em 0;
}

.hero-title h1{
    font-size: 4em;
    margin: 0;
}

.hero img{
    width: 60%;
}

.hero-title p{
    font-size: 1.3em;
    color: var(--secondary);
    margin: 1.2em 0.8em;
}

.hero-title button{
    cursor: pointer;
    width: 10em;
    height: 3em;
    background-color: var(--primary);
    color: white;
    font-size: 1.5em;
    border-radius: 8px;
    border-color: transparent;
    border-bottom: 9px solid #402C97; 
}

.courses{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.course{
    margin: 1em;
    background-color: var(--contrast);
    height: 15em;
    width: 20em;
    text-align: center;
}

.testimonials{
    display: flex;
    flex-direction: column;
    margin: 2em
}

.pillars{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pillar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pillar div{
    background-color: var(--primary);
    width: 16em;
    height: 0.7em;
}

.plans-section{
    text-align: center;
}

.price-card{
    background-color: var(--contrast);
    height: 23em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.recommended{
    border: 2px solid var(--secondary);
}

.price-card h1{
    margin:0;
    color: var(--primary);
    font-size: 2.5em;
}

.price-card h2{
    color: #C1BDD4;
}

.price-card span{
    font-size: 0.6em;
}

.recommended h1{
    color: var(--secondary);
}

.features{
    text-align: left;
    margin-bottom: 2em;
}

.price-card button{
    cursor: pointer;
    width: 10em;
    height: 3em;
    background-color: #282530;
    color: white;
    font-size: 1.5em;
    border-radius: 8px;
    border-color: transparent;
    border-bottom: 9px solid #402C97; 
    font-weight: bold;
}

.recommended button{
    background-color: var(--primary);
}

footer{
    margin: 4em 0;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .hero{
        flex-direction: row;
    }

    .courses{
        flex-direction: row;
    }

    .testimonials{
        flex-direction: row;
    }

    .testimonial-card{
        margin: 1em;
        width: 20em;
    }

    .pillars{
        margin-top: 10em;
        margin-bottom: 10em;
        flex-direction: row;
    }

    .prices-container{
        display: flex;
    }

}